<html>
<meta charset="UTF-8" />
<head th:replace="~{base :: head}"></head>
<body>
	<div th:replace="~{base :: menu}"></div>
	<div class="container">
		<h2>Cadastrar novo setor</h2>

		<div class="card">
			<form class="card-body" th:object="${requisicaoNovoSetor}"
				th:action="@{/setores/novo}" method="POST">
				<div class="form-group mb-3">
					<label for="descricao">Descrição</label> <input
						th:field="*{descricao}" type="text" class="form-control"
						placeholder="Descrição do setor do equipamento" />
				</div>
				<button class="btn btn-primary" type="submit">Cadastrar</button>
			</form>
		</div>
	</div>
</html>