<html>
<meta charset="UTF-8" />
<head th:replace="~{base :: head}"></head>
<body>
	<div th:replace="~{base :: menu}"></div>
	<div class="container">
		<h2>Consumo no de energia no período</h2>
		<form method="GET">
			<div class="row">
				<div class="col">
					<div class="form-group row">
						<label for="inicio" class="col-sm-2 col-form-label">Inicio</label>
						<div class="col-sm-10">
							<input type=date id="inicio" class="form-control"
								placeholder="Data Inicio">
						</div>
					</div>
				</div>
				<div class="col">
					<div class="form-group row">
						<label for="fim" class="col-sm-2 col-form-label">Fim</label>
						<div class="col-sm-10">
							<input type=date id="fim" class="form-control"
								placeholder="Data Fim">
						</div>
					</div>
				</div>
				<div class="col">
					<button type="button" class="btn btn-primary" onClick="buscar()">Buscar</button>
				</div>
		</form>
		<div id="container" style="width: 100%; height: 400px;"></div>

		<h2>Últimos registros</h2>
		<table class="table">
			<thead class="thead-dark">
				<tr>
					<th scope="col">#</th>
					<th scope="col">EQUIPAMENTO</th>
					<th scope="col">TIPO</th>
					<th scope="col">SETOR</th>
					<th scope="col">ÚLTIMO REGISTRO</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="equipamento : ${equipamentos}">
					<th scope="row" th:text="${equipamento.id}"></th>
					<td th:text="${equipamento.descricao}"></td>
					<td th:text="${equipamento.tipo}"></td>
					<td th:text="${equipamento.setor}"></td>
					<td th:text="${equipamento.ult_consumo}"></td>
				</tr>
			</tbody>
		</table>
	</div>

	<script
		src="http://ajax.googleapis.com/ajax/libs/jquery/1.2.6/jquery.min.js"></script>

	<script src="https://code.highcharts.com/highcharts.js"></script>
	<script src="https://code.highcharts.com/modules/data.js"></script>
	<script src="https://code.highcharts.com/modules/drilldown.js"></script>
	<script src="https://code.highcharts.com/modules/exporting.js"></script>
	<script src="https://code.highcharts.com/modules/export-data.js"></script>
	<script src="https://code.highcharts.com/modules/accessibility.js"></script>

	<script type="text/javascript">
		function buscar() {
			var dataInicio = document.getElementById("inicio").value;
			var dataFim = document.getElementById("fim").value;
			
			dataInicio = dataInicio.split('-').reverse().join('/');
			dataFim = dataFim.split('-').reverse().join('/');

			console.log(dataInicio + "  " + dataFim)
			
			$.ajax({
				type : 'GET',
				dataType : "json",
				contentType : "apllication/json",
				data : {
					inicio : dataInicio,
					fim : dataFim
				},
				url : 'api/dados',
				success : function(result) {
					array = []
					for (i in result) {
						array.push([ result[i].dia, result[i].consumo ])
					}
					criarGrafico(array);
				}
			})
		}

		$.ajax({
			type : 'GET',
			dataType : "json",
			contentType : "apllication/json",
			url : 'api/dados',
			success : function(result) {
				array = []
				for (i in result) {
					array.push([ result[i].dia, result[i].consumo ])
				}
				criarGrafico(array);
			}
		})

		function criarGrafico(array) {
			var chart = new Highcharts.chart('container', {
				chart : {
					type : 'column'
				},
				title : {
					text : 'Browser market shares. January, 2018'
				},
				accessibility : {
					announceNewData : {
						enabled : true
					}
				},
				xAxis : {
					type : 'category'
				},
				yAxis : {
					title : {
						text : 'Consumo (kW)'
					}

				},
				legend : {
					enabled : false
				},

				series : [ {
					name : "Consumo",
					colorByPoint : true,
					data : array
				} ],

			});
		}
	</script>

</body>
</html>