<html>
<meta charset="UTF-8" />
<head th:replace="~{base :: head}"></head>
<body>
	<div th:replace="~{base :: menu}"></div>
	<div class="container">
		<h2>Últimos registros</h2>
		<table class="table">
			<thead class="thead-dark">
				<tr>
					<th scope="col">#</th>
					<th scope="col">EQUIPAMENTO</th>
					<th scope="col">TIPO</th>
					<th scope="col">SETOR</th>
					<th scope="col">ÚLTIMO REGISTRO</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="equipamento : ${equipamentos}">
					<th scope="row" th:text="${equipamento.id}"></th>
					<td th:text="${equipamento.descricao}"></td>
					<td th:text="${equipamento.tipo}"></td>
					<td th:text="${equipamento.setor}">@</td>
					<td th:text="${equipamento.ult_consumo}">@</td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>