<html>
<meta charset="UTF-8" />
<head th:replace="~{base :: head}"></head>
<body>
<div th:replace="~{base :: menu}"></div>

	<div class="container">
		<h2>Cadastrar novo equipamento</h2>
		<div class="card">
			<form class="card-body" th:object="${requisicaoNovoEquipamento}"
				th:action="@{/equipamentos/novo}" method="POST">
				<div class="form-group mb-3">
					<label for="descricao">Descrição</label> <input
						th:field="*{descricao}" type="text" class="form-control"
						placeholder="Descrição do equipamento" />
				</div>
				<div class="form-group mb-3">
					<label for="tipo">Tipo</label> <select th:field="*{tipo}"
						class="form-select">
						<option th:each="tipo : ${tipos}" th:value="${tipo.id}"
							th:text="${tipo.descricao}">One</option>
					</select>
				</div>
				<div class="form-group mb-3">
					<label for="setor">Setor</label> <select th:field="*{setor}"
						class="form-select">
						<option th:each="setor : ${setores}" th:value="${setor.id}"
							th:text="${setor.descricao}">One</option>
					</select>
				</div>
				<button class="btn btn-primary" type="submit">Cadastrar</button>
			</form>
		</div>
	</div></html>