<html>
<head>
<meta charset="UTF-8" />
<style type="text/css">
table {
	border: 1px solid black;
}

td {
	border: 1px solid black;
	text-align: center;
}
</style>
</head>
<body>
	<div class="mb-2">
		<div class="col">
			<nav class="nav">
				<a class="nav-link" th:href="@{/home}">Home</a> <a class="nav-link"
					th:href="@{/equipamentos/relatorio}">Equipamentos</a> <a
					class="nav-link" th:href="@{/tipos/relatorio}">Tipos</a> <a
					class="nav-link" th:href="@{/setores/relatorio}">Setores</a>
			</nav>
		</div>
	</div>
	<h1>Lista de Equipamentos</h1>
	<a th:href="@{/equipamentos/formulario}">Cadastrar Novo</a>
	<table>
		<thead>
			<tr>
				<td>EQUIPAMENTO</td>
				<td>TIPO</td>
				<td>SETOR</td>
			</tr>
		</thead>
		<tbody>
			<tr th:each="equipamento : ${equipamentos}">
				<td th:text="${equipamento.descricao}"></td>
				<td th:text="${equipamento.tipo}"></td>
				<td th:text="${equipamento.setor}"></td>
				<td><a href="#">Editar</a></td>
				<td><a href="#">Inativar</a></td>
			</tr>
		</tbody>
	</table>
</body>
</html>